{% extends 'base.html' %}
{% load static %}
						{% block mesaj %}
							<h1>This is <strong>Visualize</strong>, a responsive site template designed by <a href="http://templated.co">TEMPLATED</a><br />
						and released for free under the Creative Commons License.</h1>
						{% endblock %}
				{% block icerik %}
				

					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a href="{% static 'images/fulls/01.jpg' %}">
										<img src="{% static 'images/thumbs/01.jpg' %}" alt="" />
										<h3>Deneme 1</h3>
									</a>
									<a href="{% static 'images/fulls/02.jpg' %}">
										<img src="{% static 'images/thumbs/02.jpg' %}" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
								</div>
								<div>
									<a href="{% static 'images/fulls/03.jpg' %}">
										<img src="{% static 'images/thumbs/03.jpg' %}" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
									<a href="{% static 'images/fulls/04.jpg' %}">
										<img src="{% static 'images/thumbs/04.jpg' %}" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
									<a href="{% static 'images/fulls/05.jpg' %}">
										<img src="{% static 'images/thumbs/05.jpg' %}" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
								</div>
								<div>
									<a href="{% static 'images/fulls/06.jpg' %}">
										<img src="{% static 'images/thumbs/06.jpg' %}" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
									<a href="{% static 'images/fulls/07.jpg' %}">
										<img src="{% static 'images/thumbs/07.jpg' %}" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
								</div>
							</section>

					</section>
				{% endblock %}
			